@model ProductListViewModel
<!--This goes inside of the render body int _Layout-->
<h3>
    <a asp-controller="Product" asp-action="Create"> Create New Product </a>
</h3>
<hr />
@foreach (Product p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}
<hr />
<!--Pagination-->
@*
    @for(int pageNumber = 1; pageNumber<= Model.PagingInfo.TotalPages; pageNumber++)
        {
            @: <a href="?productPage=@pageNumber"> @pageNumber </a>
        }
*@

<div page-model="@Model.PagingInfo"
     page-action="Index"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-secondary"
     page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>
